* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header{
    background-color: #D1D1D1;
    padding: 16px 0;
    color: #000000;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a {
    color: #000000;
    text-decoration: none;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

.container {
    margin-top: 10px;   
    margin-right: 15px;  
    margin-bottom: 20px; 
    margin-left: 25px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: #000000;
    color: whitesmoke;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article p {
    color: #333333;
}

.articles article a {
    color: whitesmoke;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: #fdd5b0;
}

#sports .articles article a {
    background-color:#FFA726;
}

#economy {
    background-color: rgb(213, 255, 189);
}

#economy .articles article a {
    background-color:#125926;
}

#entertainment {
    background-color: rgb(170, 216, 247);
}

#entertainment .articles article a {
    background-color: #314f80;
}

#technology {
    background-color:#f8c4c4;
}

#technology .articles article a {
    background-color: rgb(231, 39, 39);
}